:root {
  --background: #373B41;
  --main: #9599A0;
  --text: #0B1321;
  --tip-text: #DADCE0;
  --shadow: #000308;
  --link: #49576F;
}

a:link, a:visited {
  color: var(--link);
}

body {
  font-family: sans-serif;
  background-color: var(--background);
}

#main {
  width: 700px;
  border: 0px;
  text-align: center;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main);
  color: var(--text);
  border-radius: 5px;
  box-shadow: 0px 5px 5px var(--shadow);
}

#chart {
  font-family: sans-serif;
  border: 1px solid #000000;
  background-color: #ffffff;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text, {
  font-size: 11px;
}

#chart rect {
  shape-rendering: crispEdges;
  stroke: #ffffff;
}

.d3-tip {
  text-align: center;				
  padding: 5px;
  background: var(--background);
  color: var(--tip-text);
  font-family: sans-serif;
  font-size: 13px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px var(--shadow);
}

.d3-tip p {
  margin: 5px;
}

.footer {
  font-size: 11px;
}